<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Productos</title>

</head>
<body>
    <form action="http://localhost:8080/api/productos" method="POST">
        Nombre de producto: <input type="text" name="title">
        Descripcion de producto: <input type="text" name="description">
        Codigo de producto: <input type="number" name="code">
        Precio de producto: <input type="number" name="price">
        Stock de producto: <input type="number" name="stock">
        Imagen de producto: <input type="text" name="thumbnail">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>